.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	background-color: #222222;
	height: 60px;
	padding: 20px;
	color: white;
	font-size: 30px;
}

.search-bar {
	padding: 10px;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.search-bar__input {
	flex: 1;
}

.toggle-auto-play__container {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.toggle-auto-play__icon:hover {
	cursor: pointer;
}

.giphy-list {
	background-color: #131313;
}

.gif-list__row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}

.gif-modal {
	background-color: #484848;
	color: whitesmoke;
	border-radius: 5px;
	padding: 10px;
	position: fixed;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gif-card-mini {
	display: flex;
	align-items: center;
	margin: 0 5px 5px 0;
	height: 200px;
	width: 200px;
}

.gif-card-mini__mobile {
	display: flex;
	align-items: center;
	height: 120px;
	width: 80px;
}

.gif-card-mini__loading {
	background-color: #8d2dfd;
}

.gif-card-mini:hover {
	cursor: pointer;
}

.gif-card-full {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

.gif-card__header {
	height: 30px;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	border-bottom: 2px solid black;
	margin-bottom: 5px;
}

.gif-card__title {
	font-size: 18px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 10px;
}

.gif-card__video {
	align-self: center;
	margin-bottom: 10px;
}

.gif-card__meta {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 10px;
}

.gif-card__user {
	font-size: 18px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gif-card__user-name {
	text-transform: uppercase;
	text-align: center;
}

.gif-card__user-twitter {
	color: #00c5ff;
}

.gif-card__user-avatar {
	height: 75px;
	width: 75px;
}

.gif-card__rating {
	text-transform: uppercase;
}

.gif-card__embed-code {
	width: 100%;
}

.embed {
	display: flex;
	flex-direction: column;
}

.embed-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.embed-code {
	background-color: white;
	color: black;
	overflow-x: scroll;
	height: 35px;
	flex: 1;
}

/* disable window scroll when modal open */
.ReactModal__Body--open {
	overflow-y: hidden;
}


