.App {
	text-align: center;
}

.App-header {
	background-color: #222222;
	height: 60px;
	padding: 20px;
	color: white;
	font-size: 30px;
}

.giphy-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.giphy-card {
	display: flex;
	align-items: center;
}